<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BallroomGuide.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>039F2B691E28418100EB0DBF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>039F2B801E28418200EB0DBF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>039F2B8B1E28418200EB0DBF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
